<p>
    <%= link_to 'PT-BR', root_path(locale: 'pt-BR') %>
</p>
<p>
    <%= link_to 'English', root_path(locale: 'en') %>
</p>
<h1>Bem-Vindo</h1>
<p>Idioma Local: <%= t('actual_locate') %></p>
<h3><strong>Data: </strong><%= I18n.l(Date.today) %></h3>

<%= render "menu"%>